public net.minecraft.world.entity.LivingEntity f_20961_ # DATA_HEALTH_ID
public net.minecraft.world.entity.LivingEntity m_6668_(Lnet/minecraft/world/damagesource/DamageSource;)V # dropAllDeathLoot
public net.minecraft.world.entity.Entity f_19804_ # entityData
public-f net.minecraftforge.common.MinecraftForge EVENT_BUS
public-f net.minecraft.client.Minecraft f_91065_ # gui
public net.minecraft.client.Minecraft f_91045_ # fontManager
public net.minecraft.client.gui.font.FontManager f_94999_ # fontSets
public net.minecraft.client.gui.font.FontManager f_95001_ # renames
public net.minecraft.client.gui.font.FontManager f_94998_ # missingFontSet
public net.minecraft.world.entity.Entity f_146795_ # removalReason
public net.minecraft.world.entity.Entity isAddedToWorld # isAddedToWorld
public net.minecraft.world.entity.Entity m_146912_()V # unsetRemoved
public net.minecraft.world.entity.Entity canUpdate # canUpdate
public net.minecraftforge.common.capabilities.CapabilityProvider valid # valid
public-f net.minecraft.client.Minecraft f_91062_ # font
public-f net.minecraft.client.multiplayer.ClientLevel f_171630_ # tickingEntities
public net.minecraft.world.entity.Entity f_146801_ # levelCallback
public net.minecraft.world.entity.Entity m_142687_(Lnet/minecraft/world/entity/Entity$RemovalReason;)V # remove
public net.minecraft.client.Minecraft f_90990_ # window
public net.minecraft.client.Minecraft f_91043_ # soundManager
public net.minecraft.client.multiplayer.ClientLevel m_142646_()Lnet/minecraft/world/level/entity/LevelEntityGetter; # getEntities
public net.minecraft.client.renderer.entity.EntityRenderer m_7649_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/network/chat/Component;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;I)V # renderNameTag
public net.minecraft.client.renderer.entity.EntityRenderer m_6512_(Lnet/minecraft/world/entity/Entity;)Z # shouldShowName
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager f_157491_ # knownUuids
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157495_ # sectionStorage
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157492_ # callbacks
public net.minecraft.world.level.entity.PersistentEntitySectionManager.Callback <init>(Lnet/minecraft/world/level/entity/EntityAccess;JLnet/minecraft/world/level/entity/EntitySection;)V # Callback
public net.minecraft.world.level.entity.PersistentEntitySectionManager m_157535_(Lnet/minecraft/world/level/entity/EntityAccess;Lnet/minecraft/world/level/entity/Visibility;)Lnet/minecraft/world/level/entity/Visibility; # getEffectiveStatus
public net.minecraft.world.level.entity.PersistentEntitySectionManager m_157575_(Lnet/minecraft/world/level/entity/EntityAccess;)V # startTracking
public net.minecraft.world.level.entity.PersistentEntitySectionManager m_157564_(Lnet/minecraft/world/level/entity/EntityAccess;)V # startTicking
public net.minecraft.world.level.entity.PersistentEntitySectionManager m_157557_(Lnet/minecraft/world/level/entity/EntityAccess;)Z # addEntityUuid
public com.mojang.blaze3d.vertex.PoseStack f_85834_ # poseStack
public com.mojang.blaze3d.vertex.PoseStack.Pose f_85852_ # pose
public com.mojang.blaze3d.vertex.PoseStack.Pose f_85853_ # normal
public-f net.minecraft.world.level.ChunkPos f_45578_ # x
public-f net.minecraft.world.level.ChunkPos f_45579_ # z
public net.minecraft.world.entity.Entity f_19853_ # level
public net.minecraft.server.level.ServerLevel f_143244_ # entityManager
public-f net.minecraft.server.level.ServerLevel f_143243_ # entityTickList
public-f net.minecraft.server.level.ServerLevel f_143246_ # navigatingMobs
public-f net.minecraft.client.multiplayer.ClientLevel f_171631_ # entityStorage
public net.minecraft.client.multiplayer.ClientLevel partEntities # partEntities
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager f_157494_ # visibleEntityStorage
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager f_157496_ # entityGetter
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157497_ # chunkVisibility
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157499_ # chunksToUnload
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157498_ # chunkLoadStatuses
public net.minecraft.world.level.entity.PersistentEntitySectionManager f_157500_ # loadingInbox
public-f net.minecraft.world.level.entity.TransientEntitySectionManager f_157637_ # entityStorage
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager f_157493_ # permanentStorage
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager f_157492_ # callbacks
public-f net.minecraft.world.entity.LivingEntity f_147165_ # EXTRA_RENDER_CULLING_SIZE_WITH_BIG_HAT
public net.minecraft.world.entity.LivingEntity f_147183_ # discardFriction
public net.minecraft.client.gui.Font f_92713_ # fonts
public net.minecraft.client.Minecraft f_90993_ # renderBuffers
public-f net.minecraft.world.entity.player.Player f_36093_ # inventory
public net.minecraftforge.eventbus.EventBus busID # busID
public net.minecraftforge.eventbus.EventBus trackPhases # trackPhases
public net.minecraft.client.renderer.GameRenderer f_109073_ # lastActiveTime
public-f net.minecraft.client.renderer.GameRenderer f_109059_ # minecraft
public net.minecraft.client.renderer.GameRenderer m_182644_()V
public net.minecraft.client.renderer.GameRenderer m_280083_(Lnet/minecraft/client/gui/GuiGraphics;F)V # renderConfusionOverlay
public net.minecraft.client.renderer.GameRenderer m_109100_(IIF)V # renderItemActivationAnimation
public net.minecraft.client.renderer.GameRenderer f_109064_ # renderBuffers
public net.minecraft.client.renderer.GameRenderer f_109050_ # postEffect
public net.minecraft.world.entity.player.Inventory m_36047_(ILnet/minecraft/world/item/ItemStack;)I # addResource
public net.minecraft.world.entity.player.Inventory m_36066_(Lnet/minecraft/world/item/ItemStack;)I # addResource
public net.minecraft.world.entity.player.Inventory f_35979_ # compartments
public-f net.minecraft.world.entity.Entity m_146870_()V # discard
public-f net.minecraft.world.entity.Entity *
public-f net.minecraft.world.entity.Entity *()
public-f net.minecraft.world.entity.LivingEntity m_21233_()F # getMaxHealth
public-f net.minecraftforge.eventbus.EventBus *
public-f net.minecraft.commands.Commands f_82090_ # dispatcher
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$ChunkTaskResult
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask$CompileResults
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask$CompileResults <init>()V # CompileResults
public net.minecraft.client.gui.screens.Screen f_96547_ # font
public net.minecraft.client.gui.screens.Screen f_96541_ # minecraft
public net.minecraft.client.gui.screens.TitleScreen$WarningLabel
public net.minecraft.client.gui.screens.TitleScreen$WarningLabel f_232780_ # font
public net.minecraft.client.gui.screens.TitleScreen modUpdateNotification # modUpdateNotification
public net.minecraft.client.gui.screens.Screen *()
public net.minecraft.client.gui.screens.TitleScreen$WarningLabel
public net.minecraft.client.gui.screens.Screen *
public net.minecraft.client.gui.screens.TitleScreen$WarningLabel <init>(Lnet/minecraft/client/gui/Font;Lnet/minecraft/client/gui/components/MultiLineLabel;II)V # WarningLabel
public net.minecraft.client.gui.screens.CreateFlatWorldScreen$DetailsList
public net.minecraft.client.gui.screens.PresetFlatWorldScreen$PresetsList
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public net.minecraft.realms.RealmsScreen m_120774_(I)I # row
public net.minecraftforge.client.gui.widget.ScrollPanel render(Lnet/minecraft/client/gui/GuiGraphics;IIF)V # render
public net.minecraftforge.client.gui.ModListScreen$InfoPanel
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_280072_(Lnet/minecraft/client/gui/GuiGraphics;II)V # renderTooltip
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97735_ # leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97736_ # topPos
public net.minecraft.world.level.entity.PersistentEntitySectionManager$Callback
public net.minecraft.world.level.entity.PersistentEntitySectionManager *()
public net.minecraft.world.level.entity.PersistentEntitySectionManager$Callback *
public net.minecraft.world.level.entity.PersistentEntitySectionManager$Callback *()
public net.minecraft.world.level.entity.TransientEntitySectionManager *()
public net.minecraft.world.level.entity.TransientEntitySectionManager *
public-f net.minecraft.world.level.entity.EntityLookup *
public-f net.minecraft.world.level.entity.EntitySection *
public-f net.minecraft.util.ClassInstanceMultiMap *
# Biome temperature modifiers
public net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature

public vazkii.botania.common.block.block_entity.mana.ManaPoolBlockEntity initManaCapAndNetwork()V # initManaCapAndNetwork
public vazkii.botania.common.block.block_entity.mana.ManaPoolBlockEntity manaCap # manaCap
public vazkii.botania.common.block.block_entity.mana.ManaPoolBlockEntity mana # mana

